{% extends 'articles/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm border-light">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Réinitialiser le Mot de Passe</h2>
                        
                        <!-- Affichage des messages d'erreur et de succès -->
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                    {{ message }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="email" value="{{ email }}">
                            
                            <div class="form-group position-relative mb-3">
                                <label for="password1">Nouveau mot de passe</label>
                                <input name="password1" type="password" id="password1" class="form-control" placeholder="Nouveau mot de passe" required>
                                <i class="bi bi-lock position-absolute top-50 end-0 translate-middle-y me-2"></i>
                            </div>
                            
                            <div class="form-group position-relative mb-3">
                                <label for="password2">Confirmer le mot de passe</label>
                                <input name="password2" type="password" id="password2" class="form-control" placeholder="Confirmer le mot de passe" required>
                                <i class="bi bi-lock position-absolute top-50 end-0 translate-middle-y me-2"></i>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
